@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	src: url("/font/NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	src: url("/font/NotoSerif-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
	font-family: "Noto Serif Japanese";
	src: url("/font/NotoSerifJP-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Cascadia Mono";
	font-style: normal;
	src: url("/font/CascadiaMono.woff2"), format("woff2");
}
@font-face {
	font-family: "Cascadia Mono";
	font-style: italic;
	src: url("/font/CascadiaMonoItalic.woff2"), format("woff2");
}

body {
	font-family: "Noto Serif", "Noto Serif Japanese", serif;
	font-synthesis: none;
}

code {
	font-family: "Cascadia Mono", monospace;
}
